
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display:flex;
    flex-direction:column;
    height:100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}
.countdown_wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:20px;
}
.countdown_inner{
    margin-top:1rem;
}
span{
    font-family: monospace;
    font-weight: 900;
    font-size: 1.3rem;
}
footer{
    background-color: #333;
    color: #fff;
    padding:15px;
    text-align: center;
}
input{
    font-size:17px;
}
input[type="email"]:hover {
    border-color: #666;
}

input[type="email"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#notifyButton {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 5px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#notifyButton:hover{
    background-color: #0056b3;
}
